<h3>Unleash Your Developer Potential with Our Insightful Blog Posts and Inspiring Case Studies, at Dev Hack Hub!</h3>
<!-- Output each user's email address, using a handlebars each loop -->
<ul>
  {{#each post}}
  <li>
    <p>{{text}}</p>
    <p>Added By: {{user.email}}</p>
  </li>
  {{/each}}
</ul>